<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="miniERP" connectionString="Data Source=localhost; Initial Catalog=miniERPEF; User ID=aulaentity; password=senha1234; language=Portuguese;Trusted_Connection=True;TrustServerCertificate=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>